# dependencies
node_modules/
.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/android/app/build/
/android/build/
/android/capacitor-cordova-android-plugins/build/

# Capacitor
/android/app/src/main/assets/public
/android/app/src/main/assets/capacitor.config.json

# misc
.DS_Store
.env
.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Local config
src/apiConfig.js
